[data-theme="dark"] {
  --primary-color: rgb(150, 65, 255);
  --primary-variant: rgb(108, 99, 255);
  --secondary-color: rgb(3, 218, 197);
  --on-primary: rgb(0, 0, 0);
  --on-background: rgba(255, 255, 255, 0.9);
  --on-background-alt: rgba(255, 255, 255, 0.7);
  --background: rgb(18, 18, 18);
}
